<div class="card" {{#if variant}} data-variant="{{variant}}" {{/if}}>
  {{#if icon}}
    <span data-icon="{{icon}}"></span>
  {{/if}}
  <div class="header">
    <h3 class="title-m">{{{title}}}</h3>
  </div>
  <div class="content">
    {{#if text}}
      <p>{{{text}}}</p>
    {{/if}}
    {{#if link}}
      <a class="btn btn-secondary" href="{{link-url}}">{{{link}}}</a>
    {{/if}}
  </div>
</div>
